* {
    font-family: Helvetica, sans-serif;
}
body{
background-color: rgb(16, 16, 16);
color: rgb(219, 219, 219);
}

/*MENU*/
header{
display: flex;
flex-wrap: wrap row;
justify-content: space-between;
padding: 2% 0 2% 0;
width: 100%;
margin:0%;
}
header #logo, a{
margin-right: 0 0 5% 32%; /*testa o ta bort*/
font-size: 20px;
text-decoration: none;
color: white;
padding: 6px 32px 6px 32px;
}
a:hover{
color: blue ;
}



h1{
    padding-left: 5%;
}

img {
    height: 15vw;
}
section{
width: 35%;
padding-left: 18%;
margin-top:3%;
}

.animated-text{ animation: slide-left 5s;}


@keyframes slide-left {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }}



/*IMAGES*/
#allimages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}

.images{
width: 300px;
height: auto;
}

.caption{
text-align: center;
}

