


* {
    font-family: Helvetica, sans-serif;
}
body{
background-color: rgb(16, 16, 16);
color: rgb(219, 219, 219);
}




/*MENU*/
header{
    display: flex;
    flex-wrap: wrap row;
    justify-content: space-between;
    padding: 2% 0 2% 0;
    width: 100%;
    margin:0%;
    }
    header #logo, a{
    margin-right: 0 0 5% 32%; /*testa o ta bort*/
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 6px 32px 6px 32px;
    }
    a:hover{
    color: blue ;
    }

  
    
    h1{
        padding-left: 5%;
    }




img {
    height: 15vw;
}


.conteiner {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-content: center;
    gap: 200px;
    max-width: 960px;
    margin: auto;
  }

  @media(max-width: 1000px){
  
    .conteiner {
      grid-template-columns: repeat(auto-fit, 250px);
      gap: 10px;
      max-width: 815px;
    }
    .img {
      max-height: 15vw;
    }
  
  }


